html {font-size: 100%;}
body {font-size: .8em;}

.agbe_header {
    width:100%;
}

.agbe_inventory_object_image {
    max-width:100px;
    max-height:100px;
    width:60%;
}

.agbe_layer {
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
}

.agbe_full_display_table {
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    display: table;
}

.agbe_center_horizontally {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.agbe_img_fill_keep_ratio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:100%;
    max-width: 100%;
}

.agbe_center_vertically_p_container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table
}

.agbe_center_vertically_p {
    display: table-cell;
    vertical-align: middle
}

.agbe_left_part {
    position:absolute;
    top:0%;
    left:0%;
    width:50%;
    height: 100%;
}

.agbe_right_part {
    position:absolute;
    top:0%;
    left:50%;
    width:50%;
    height: 100%;
}

.agbe_big_popup {
    position:absolute;
    top:15%;
    left:15%;
    width:70%;
    height: 70%;
    background-color: darkseagreen;
}
.agbe_popup {
    position:absolute;
    top:25%;
    left:30%;
    width:40%;
    height: 50%;
    background-color: lightseagreen;
}

.agbe_vertical_10_70_20-0 {
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 10%;
}

.agbe_vertical_10_70_20-1 {
    position:absolute;
    top:10%;
    left:0%;
    width:100%;
    height: 70%;
}

.agbe_vertical_10_70_20-2 {
    position:absolute;
    top:80%;
    left:0%;
    width:100%;
    height: 20%;
}

.agbe_vertical_10_90-0 {
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 10%;
}

.agbe_vertical_10_90-1 {
    position:absolute;
    top:10%;
    left:0%;
    width:100%;
    height: 90%;
}