<div ng-show="popupVisible" class="agbe_popup">
    <div style="position:relative;width: 100%;height: 100%">
        <div class="agbe_dynamic agbe_id_height_10_80" style="text-align: center">
            <h3>{{getMessage()}}</h3>
            <div class="agbe_center_horizontally" style="text-align: center">
                <button ng-click="onClickYes()">{{yesLabel}}</button>
                <button ng-click="onClickNo()" ng-show="isNoAvailable()">{{noLabel}}</button>
            </div>
        </div>
    </div>
</div>
