<h1>Temps</h1>
<p>Date et heure : <agbe-time></agbe-time></p>
Voulez-vous ?
<ul>
    <li><button ng-click="onClickWait(1)">Attendre une minute</button></li>
    <li><button ng-click="onClickWait(5)">Attendre cinq minutes</button></li>
    <li><button ng-click="onClickWait(20)">Attendre vingt minutes</button></li>
    <li><button ng-click="onClickWait(60)">Attendre une heure</button></li>
    <li><button ng-click="onClickWait(360)">Attendre six heures</button></li>
    <li><button ng-click="onClickReturnToStory()">Retourner à l'aventure</button></li>
</ul>